<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Go To Nikah</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;@500&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body class="user">
    <section id="userHeader">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0 d-none d-lg-flex align-items-center justify-content-center justify-content-sm-start">
                        <a class="" href="home.html">
                            <img src="images/logo.png" alt="Go to Nikah" width="auto" height="auto" class="gotoNikahlogo">
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                        <ul class="dwnIcon d-flex">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="images/appleStore.png" alt="appleStore" class="storeIcon me-3" width="auto" height="auto">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="images/playStore.png" alt="playStore" class="storeIcon" width="auto" height="auto">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand d-lg-none" href="home.html"><img src="images/logoW.png" alt="Go to Nikah" width="auto" height="auto" class="gotoNikahlogo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoToNikah" aria-controls="navbarGoToNikah" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger" id="hamburger-1">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarGoToNikah">
                    <ul class="navbar-nav mb-4 mb-lg-0 mt-3 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="featuredProfiles.html">Featured Profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="upgradeToPremium.html">Upgrade To Premium</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="help.html">Help</a>
                        </li>
                    </ul>
                    <ul class="d-flex notMenu align-items-center mb-3 mb-lg-0 ms-auto">
                        <li>
                            <a href="chat.html" class="chatBox">
                                <img src="images/comment.png" alt="chat" width="auto" height="auto">
                                <span>
                                    <label>5</label>
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="notifctnDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="images/notification.png" alt="notification" width="auto" height="auto" class="notificationIcon">
                                    <span class="notificationCount">
                                        <label>4</label>
                                    </span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="notifctnDropdown">
                                    <li class="d-flex justify-content-between notfctnItems">
                                        <span class="me-3">Lorem ipsum dolor </span>
                                        <span class="d-flex justify-content-between">
                                            <a href="javascript:void(0);"><img src="images/cancel.png" alt="cancel" class="me-2"></a>
                                            <a href="javascript:void(0);"><img src="images/checked.png" alt="checked"></a>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between notfctnItems">
                                        <span class="me-3">Lorem ipsum dolor </span>
                                        <span class="d-flex justify-content-between">
                                            <a href="javascript:void(0);"><img src="images/cancel.png" alt="cancel" class="me-2"></a>
                                            <a href="javascript:void(0);"><img src="images/checked.png" alt="checked"></a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="myAccountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="images/user.png" class="userIcon" alt="user">
                                    My Account
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-lg-end" aria-labelledby="myAccountDropdown">
                                    <li class="accntDropList">
                                        <a class="dropdown-item" href="editProfile.html">
                                            <div class="d-flex">
                                                <div class="profImgBox">
                                                    <img src="images/profDummy.png">
                                                </div>
                                                <div class="nameTitle">
                                                    <p>Ayisha Nilopher</p>
                                                    <span>
                                                        <img src="images/verify.png">
                                                        Verified
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="accntDropList">
                                        <a class="dropdown-item" href="editProfile.html">
                                            <img src="images/userEdit.png">
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li class="accntDropList">
                                        <a class="dropdown-item" href="changePassword.html">
                                            <img src="images/padlock.png">
                                            Change Password
                                        </a>
                                    </li>
                                    <li class="accntDropList">
                                        <a class="dropdown-item" href="index.html">
                                            <img src="images/logout.png">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section id="userContent" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3 mb-4 mb-lg-0">
                    <div class="chatList">
                        <div class="chtrDtlsBox d-flex justify-content-between mb-0">
                            <div class="d-flex align-items-center">
                                <div class="profImgBoxParent">
                                    <div class="profImgBox">
                                        <img src="images/profDummy.png">
                                    </div>
                                    <span class="statusIndictn"></span>
                                </div>
                                
                                <div class="nameTitle">
                                    <p>Ayisha Nilopher</p>
                                    <span>
                                        <img src="images/verify.png">
                                        Verified
                                    </span>
                                    <select class="form-select statusSlct" aria-label="available status">
                                        <option selected>Online</option>
                                        <option value="1">Offline</option>
                                        <option value="2">Away</option>
                                    </select>
                                </div>
                            </div>
                            <a href="javascript:void(0)"><img src="images/setting.png"></a>
                        </div>
                        <div class="chatType">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="chatType" data-bs-toggle="dropdown" aria-expanded="false">
                                Active Chats
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="chatType">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>
                        </div>
                        <form class="customForm">
                            <div class="input-group">
                                <input type="text" class="form-control border-end-0" placeholder="Search people" aria-label="Recipient's username" aria-describedby="search">
                                <button class="btn btn-outline-secondary border-start-0" type="button"><img src="images/searchG.png"></button>
                            </div>
                        </form>
                        <div class="peopleList chtrDtlsBox scrollBox">
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat active">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <img src="images/mProfile1.png">
                                            </div>
                                            <span class="statusIndictn"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="totMsg">
                                        <span>3</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <img src="images/mProfile7.png">
                                            </div>
                                            <span class="statusIndictn"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <span class="nameShort">AN</span>
                                            </div>
                                            <span class="statusIndictn"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <img src="images/mProfile3.png">
                                            </div>
                                            <span class="statusIndictn"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <span class="nameShort">AN</span>
                                            </div>
                                            <span class="statusIndictn Offline"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <img src="images/mProfile4.png">
                                            </div>
                                            <span class="statusIndictn"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <div class="d-flex justify-content-between align-items-center singleChat">
                                    <div class="d-flex align-items-center">
                                        <div class="profImgBoxParent">
                                            <div class="profImgBox">
                                                <img src="images/mProfile5.png">
                                            </div>
                                            <span class="statusIndictn Offline"></span>
                                        </div>
                                        <div class="nameTitle">
                                            <p class="name">Ayisha Nilopher</p>
                                            <p>Me: What does this dummy…</p>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span>08:05</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-5 mb-4 mb-lg-0">
                    <div class="mainChatBox">
                        <div class="chatSection scrollBox">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1 me-3 d-flex flex-column align-items-end">
                                    <ul class="chatlist chatlistSender">
                                        <li>Hello Franky!</li>
                                        <li>How are you doing today?</li>
                                    </ul>
                                    <span class="chatTime">1:58 PM</span>
                                </div>
                                <div class="flex-shrink-0 profImgBox">
                                    <img src="images/mProfile12.png">
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0 profImgBox">
                                    <img src="images/profDummy.png">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <ul class="chatlist">
                                        <li>Hi George! Nice to hear you again!</li>
                                        <li>I’m fine, thank you! And what about you? Is everything ok?</li>
                                    </ul>
                                    <span class="chatTime">1:58 PM</span>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1 me-3 d-flex flex-column align-items-end">
                                    <ul class="chatlist chatlistSender">
                                        <li>Yep, thanks!</li>
                                        <li>May I ask you a favour?</li>
                                        <li>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</li>
                                    </ul>
                                    <span class="chatTime">1:58 PM</span>
                                </div>
                                <div class="flex-shrink-0 profImgBox">
                                    <img src="images/mProfile12.png">
                                </div>
                            </div>
                        </div>
                        <div class="urText d-flex align-items-center">
                            <div class="input-group customForm">
                                <input type="text" class="form-control" placeholder="Enter your message here" aria-label="chat text box">
                                <button class="btn" type="button">
                                    <img src="images/smile.png">
                                </button>
                                <button class="btn" type="button">
                                    <img src="images/paper-clip.png">
                                </button>
                                <button class="btn sendBtn" type="button">
                                    <img src="images/send.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="sndrDetailsHead">Chat details</p>
                    <div class="chtrDtlsBox d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="profImgBox">
                                <img src="images/mProfile12.png">
                            </div>
                            <div class="nameTitle">
                                <p>Fayis Muhammed</p>
                                <p class="dsgntn">Web Developer</p>
                                <span>
                                    <img src="images/verify.png">
                                    Verified
                                </span>
                            </div>
                        </div>
                        <a href="singleProfile.html">View Profile</a>
                    </div>
                    <div class="likeDislikeBox mb-0">
                        <div class="headBox">
                            <div class="row">
                                <div class="col-12 col-sm-7 d-flex align-items-center mb-3 mb-sm-0">
                                    <div class="w-100">
                                        <div class="youHim">
                                            <img src="images/people.png">
                                            You &amp; Him
                                        </div>
                                        <h3>Likes &amp; Dislikes</h3>
                                        <p>Your profile matches with <span>9 / 11</span>  of Fayis preferences!</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-5 d-flex justify-content-between align-items-center">
                                    <button type="button" class="btnLikeUnlike me-3">
                                        <img src="images/like1.png" class="likeDislikeIcon" alt="like icon">
                                    </button>
                                    <button type="button" class="btnLikeUnlike">
                                        <img src="images/dislike.png" class="likeDislikeIcon" alt="dislike icon">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="px-3 pt-3 scrollBox">
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Marital Status</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Unmarried</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Age</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">23 - 40 Yrs</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Height</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">5 ft - 6 ft</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Mother Tongue</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Malayalam</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Physical Status</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Normal</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Eating habits</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Doesn't matter</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Drinking Habits</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Doesn't matter</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Smoking Habits</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Doesn't matter</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Caste</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Sunni</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">Sub Caste</p>
                                </div>
                                <div class="col-5 d-flex align-items-center">
                                    <p class="dtls">EK</p>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end">
                                    <img src="images/checkedG.png" class="chk">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="userFooter">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="at">© 2022 gotonikah All Rights Reserved</p>
                </div>
            </div>
        </div>
    </section>


    

    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // burger menu
            $(".hamburger").click(function(){
                $(this).toggleClass("is-active");
                $('body').toggleClass("is-scroll-disabled");
            });
            // burger menu end

            // send request btn
            $(".sndrqst").click(function(){
                $(this).toggleClass("clicked");
            });
            
        });
        
    </script>

</body>
</html>